.container {
    width: 100%;
    height: 100%;
}
.tabuleiro {
    width: 100%;
    height: 65%;
    background-color: aliceblue;
    display: flex;
    
}
.divisor {
    width: 100%;
    height: 5%;
    background-color: chartreuse;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.footer {
    width: 100%;
    height: 30%;
    display: flex;
    background-color: darkblue;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.espetos {
    width: 33.333%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;

}
.espeto {
    background-color: green;
    width: 30px;
    height: 80%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.discos {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    position: absolute;
}
.disco {
    height: 20px;
    border-radius: 5px;

}
.disco0 {
    width: 300px;
    background-color: black;

}
.disco1 {
    width: 260px;
    background-color: brown;
}

.disco2 {
    width: 220px;
    background-color: burlywood;
}
.disco3 {
    width: 180px;
    background-color: grey;
}
.disco4 {

    width: 140px;

    background-color: magenta;
}
.letra {
    font-size: 50px;
    cursor: pointer;
}
#selecionado {
    border: 5px solid greenyellow;
}
button {
    cursor: pointer;
    width: 110px;
    height: 50px;
    font-size: 24px;
    background-color: deepskyblue;
}
.contador {
    font-size: 45px;
    color: aliceblue;
}